* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  width: 100%;
}

i {
  pointer-events: none;
  z-index: 100000;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header h1 {
  font-size: 3rem;
  color: #fff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input, form button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  font-size: 1.5rem;
}

input[type=number] {
  width: 60px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  background-color: #fff;
}

.allstars {
  width: 100%;
  height: 100%;
  position: absolute;
}

@-webkit-keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0px, 200px);
  }
}

@keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0px, 200px);
  }
}
[class^=star] {
  width: 3px;
  height: 3px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-animation: falling 2s infinite;
          animation: falling 2s infinite;
}

.star1 {
  position: absolute;
  left: 66.1091898362%;
  top: 47.6741849014%;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.star2 {
  position: absolute;
  left: 68.5695967299%;
  top: 46.1771514165%;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.star3 {
  position: absolute;
  left: 7.132425339%;
  top: 26.4320063078%;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.star4 {
  position: absolute;
  left: 47.586511106%;
  top: 7.1357329925%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.star5 {
  position: absolute;
  left: 53.8097864836%;
  top: 28.0238051112%;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.star6 {
  position: absolute;
  left: 56.8227660838%;
  top: 40.7164094225%;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.star7 {
  position: absolute;
  left: 81.0421142562%;
  top: -14.2297458617%;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.star8 {
  position: absolute;
  left: 36.6318111388%;
  top: 38.2651131014%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.star9 {
  position: absolute;
  left: 80.5008062072%;
  top: -10.805316705%;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.star10 {
  position: absolute;
  left: 70.9860146834%;
  top: -14.3455203316%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.star11 {
  position: absolute;
  left: 14.9184877256%;
  top: 13.9255958965%;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.star12 {
  position: absolute;
  left: 13.4507051561%;
  top: 49.8391613269%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.star13 {
  position: absolute;
  left: 42.2523051957%;
  top: 45.9744550846%;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}

.star14 {
  position: absolute;
  left: 66.0483305287%;
  top: 16.4856046983%;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.star15 {
  position: absolute;
  left: 14.1883224872%;
  top: 47.6171300074%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.star16 {
  position: absolute;
  left: 17.4747627934%;
  top: 38.3728764201%;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.star17 {
  position: absolute;
  left: 59.8939461705%;
  top: 17.2342407898%;
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
}

.star18 {
  position: absolute;
  left: 72.2288410609%;
  top: 22.1813429983%;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.star19 {
  position: absolute;
  left: 52.7921232052%;
  top: -15.0264933051%;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
}

.star20 {
  position: absolute;
  left: 9.4719098596%;
  top: 12.7355795935%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.star21 {
  position: absolute;
  left: 11.8831007753%;
  top: -29.756919624%;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}

.star22 {
  position: absolute;
  left: 6.9262570341%;
  top: 12.3958921174%;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}

.star23 {
  position: absolute;
  left: 82.3586818126%;
  top: 41.5820197617%;
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}

.star24 {
  position: absolute;
  left: 1.5021818072%;
  top: -10.2112384134%;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.star25 {
  position: absolute;
  left: 63.5245979662%;
  top: 44.9821914149%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.star26 {
  position: absolute;
  left: 96.2796575243%;
  top: 14.1756856869%;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}

.star27 {
  position: absolute;
  left: 11.5278974348%;
  top: 27.3023431255%;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}

.star28 {
  position: absolute;
  left: 63.4062177989%;
  top: -21.8162294892%;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}

.star29 {
  position: absolute;
  left: 41.5041816774%;
  top: 49.8852733721%;
  -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s;
}

.star30 {
  position: absolute;
  left: 28.2981464911%;
  top: -23.5528169406%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.sort {
  display: flex;
  position: absolute;
  top: 0;
  left: 80%;
}
.sort button {
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}
section div.todo {
  width: 25vw;
  height: 20vh;
  display: flex;
  margin: 0.2rem;
  transition: all 0.1s ease;
  border-radius: 20px;
}
section div.todo p {
  background-color: #fff;
  color: #000;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}
section div.todo .todo-text {
  width: 50%;
  padding: 0.25rem 0.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
section div.todo .todo-time {
  width: 30%;
}
section button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  border: none;
  cursor: pointer;
  color: #fff;
  z-index: 10000;
}
section .complete {
  background-image: linear-gradient(to right, #fcff00, #22ff00);
}
section .trash {
  background-image: linear-gradient(to right, #FF008E, #ff0000);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
}

@-webkit-keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
@media screen and (max-width: 968px) {
  form input {
    width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0;
  }

  input[type=number] {
    width: 80%;
    border-radius: 0px;
  }

  .allstars {
    overflow: hidden;
  }

  form {
    flex-direction: column;
  }

  .sort button {
    font-size: 1rem;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    grid-gap: 40px;
    position: absolute;
  }
  section div.todo {
    display: grid;
    position: relative;
  }
  section div.todo p {
    width: 150px;
    background-color: #fff;
    color: #000;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
  }
  section div.todo .todo-text {
    width: 100vw;
    padding: 0.25rem 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    text-align: center;
  }
  section div.todo .todo-time {
    width: 100vw;
    text-align: center;
  }
  section .trash {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */